# Python
pycache/
*.pyc
env/
*.sqlite3

# Node
node_modules/
dist/

# Angular
frontend-blog/.angular/cache/
frontend-blog/.angular/config.json

# Angular build output
/project_blog/static/
/project_blog/staticfiles/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db